@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

:root {
  --primary-color: #272727;
  --secondary-color: #cdedab;
  --link-primary: #7AAFDB;
}

body {
  font-family: 'Ubuntu Mono', monospace;
}

/*------- General classes -------*/

.tab {
  padding-left: 1.4rem;
}

.m-y {
  margin: 1rem 0;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.max-w {
  width: 84%;
  max-width: 60rem;
}

/*----------- MAIN ---------*/

.main {
  height: 100vh;
  display: grid;
  margin: auto;
  place-items: center;
}

.main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__section_title {
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
}

.item__link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.2rem;
  transition: all .2s;
  border-bottom: 2px solid var(--secondary-color);
}


.item__link:hover {
  border-color: var(--link-primary);
}

.item__link-primary {
  color: var(--link-primary);
  font-size: 1rem;
}