body {
  height: 100vh;
  place-items: center;
}

.main {
  height: 80vh;
  max-width: 1000px;
}

.task-section {
  border: 1px solid #3f3f3f;
  border-radius: .5rem;
}

#tasks {
  min-height: 250px;
  height: 35vh;
  overflow-y: auto;
  border: 1px solid #efefef;
  border-radius: .5rem;
}

.form-check-label {
  width: 80%;
}

.check-box:checked ~ span {
  text-decoration: line-through;
}

.hidden {
  display: none !important;
}

.filter {
  cursor: pointer;
  /* border-bottom: 2px solid #0b5ed7; */
  transition: all .3s;
}