body {
  height: 100vh;
  place-items: center;
}

.main {
  height: 80vh;
}

.task-section {
  border: 1px solid #3f3f3f;
  border-radius: .5rem;
}

#tasks {
  min-height: 250px;
  height: 35vh;
}

.form-check-label {
  width: 80%;
}

.check-box:checked ~ span {
  text-decoration: line-through;
}