* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,93,1) 36%, rgba(0,212,255,1) 100%);

}


body {
  display: grid;
  height: 100vh;
  place-items: center;
  background-color: #BBB;
}

.module-border-wrap {
  width: 200px;
  height: 200px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, rgb(248, 31, 31), rgb(26, 29, 224));
  padding: 3px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  animation: 1s infinite linear ratating;
}

.module {
  width: 90%;
  height: 90%;
  background: #BBB;
  padding: 2rem;
  border-radius: 50%;
}

@keyframes ratating {
  from {
    transform: rotate(0deg);
  }


  to {
    transform: rotate(360deg);
  }
}